# config.yaml

# === CORE SETTINGS ===
# GENERAL SETTINGS
engine:
  tf: "1m"
  initial_capital: 10000
  commission: 0.001                 # Should be fee and  consider TAKER or MAKER -> For initial PHASES we can meke it simple and use only this one param
  lookback_window: 100

# === DATA SOURCE ===
# WHERE ARE RAW DATA -> 1M TF NEEDED
data:
  symbols: ["BTCUSDT"]        # List of symbols to backtest
  timeframe: "1m"                 # Data timeframe
  source_dir: "data/raw"      # Directory with parquet files
  source_file: "BTCUSDT-1m-2025-10"  # Must be .parquet 1m TF
  

  # THIS SHOULD MOVE TO STRATEGY AND NOT STAY HERE
  # Optional date filtering
  filter:
    start: "2025-10-29"
    end: "2025-10-30"

# === STRATEGY COMPONENTS ===
strategy:
  entry:
    name: "price_above_sma"
    # THESE PARAMS ARE EXAMPLES AND SHOULD NOT BE USED HERE - THEY BELONGS TO INDICATORS
    # Strategy should have a TF? -> Where is?
    params:
      period: 100              # Must match indicator SMA period!
      lookback: 1
 
  exit:
    name: "hold_bars"
    params:
      bars: 10                # Hold for 10 bars
  
  # RISK: How much to risk per trade (optional)
  risk:
    name: "fixed_percent"    # Nome della classe risk manager
    params:
      risk_per_trade: 0.02   # Rischia 2% dell'equity corrente
      max_drawdown: 0.15     # Opzionale: blocca trading se drawdown > 15%

# === INDICATORS REQUIRED ===
indicators:
  - name: "sma"
    params: {period: 100}
    tf: "1m"
    column: "sma_100"
  
  - name: "sma"
    params: {period: 50}
    tf: "1m"
    column: "sma_50"


# === JOURNALING ===
journal:
  save_dir: "data/journals/"
  filename_template: "{symbol}_{entry_strategy}_{timestamp}"
  


# === PLOTTING CONFIGURATION ===
plotting:
  indicators_to_plot:
    - column: "sma_100"
      label: "SMA 100 (Strategy)"
      color: "#ff0000"
      linewidth: 2
      alpha: 1
    
    - column: "sma_50"  
      label: "SMA 50 (Analysis)"
      color: "#0000ff"
      linewidth: 2
      alpha: 1


# **Il `column` deve corrispondere al nome della colonna nel DataFrame!**    


  # Opzioni di layout
  layout:
    price_height_ratio: 3
    indicators_height_ratio: 2
    position_height_ratio: 1
  
  style:
    background_color: "#f5f5f5"
    grid_alpha: 0.2




